BACKEND_PORT=5000

#Please, concatenate the env variables like the example
DATABASE_URL=postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@postgres-db-dev:5432/<POSTGRES_DB>
EXTERNAL_API_TOKEN=<FIXER.IO API TOKEN>
EXTERNAL_API_URL=<FIXER.IO BASE URL>
POSTGRES_DB=<DB>
POSTGRES_USER=<USER>
POSTGRES_PASSWORD=<PASSWORD>
